@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$main: #fff;
$main1: rgb(240,245,250);
$second: #0b2046;
$second1: #06142e;
$accent: #000;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $main;
}

::-webkit-scrollbar,
.modal-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: $second;
}

::-webkit-scrollbar-track {
  background-color: $main1;
}

::-webkit-scrollbar-button {
  background-color: $accent;
}