@import "../../css/global.scss";

.features {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  padding: 5% 3%;
  background-color: $main1;
  flex-direction: column;
  h1 {
    text-align: center;
    color: $second;
    font-size: min(max(2.5rem, 3vw), 3rem);
    letter-spacing: -1px;
    font-weight: 900;
    margin-bottom: 30px;
  }
}

.feature {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  height: 100%;
  gap: 30px;

  .feature-card {
    width: 290px;
    border-radius: 4px;
    box-shadow: 0 0 2px $accent;
    height: 380px;
    background-color: $main;
    cursor: pointer;
    &:hover {
      opacity: 0.9;

      p {
        opacity: 1;
      }
    }

    img {
      border-radius: 4px 4px 0 0;
      width: 100%;
      object-fit: cover;
      height: 55%;
      margin-bottom: 10px;
    }

    h3 {
      color: $second;
      text-align: center;
      margin: 0 10px;
      font-weight: normal;
      padding-bottom: 15px;
    }

    p {
      margin: 0 15px;
      text-align: center;
      color: $second1;
      opacity: 0.9;
    }
  }
}

@media (max-width: 720px) {
    .feature {
      max-width: 100%;
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: auto;
      .feature-card {
        min-width: 290px;
        height: 400px;
        p {
          margin: 0 40px;
        }
        &:first-child {
          margin-left: 10px;
        }
      }
    }
}
